
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  color: inherit;
}

li { list-style-type: none; }

#ADMIN-DIV-LAYOUTCONTAINER {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#ADMIN-MENUCONTAINER {
  position: fixed;
  /* width: 16%; */
  width: 210px;
  height: 100%;
  /* padding: 80px 0; */
  background-color: #003161;

  color: #fff;
}

.admin-div-menuwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#ADMIN-H2-TITLE { margin-bottom: 40px; }

.admin-ul-menuwrap {
  width: 100%;
  text-align: right;
}

.admin-ul-menuwrap li {
  height: 30px;
  padding: 8px 30px;
  line-height: 30px;
  cursor: pointer;
}

.admin-ul-menuwrap li:hover {
  background-color: #0b2d52;
  color: inherit;
}

/* 메뉴 클릭했을 때 */
.admin-li-menuactive {
  background-color: #fff;
  color: #003161;
}

/* 사이드메뉴 기준 우측 요소들 감싸는 태그 */
#ADMIN-DIV-CONTENTWRAP {
  width: 100%;
  height: 100%;
  margin-left: 210px;
}

/* 상단 헤더 - 홈, 로그아웃 */
#ADMIN-DIV-HEADERCONTAINER {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

#ADMIN-UL-HEADERWRAP {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
}

#ADMIN-UL-HEADERWRAP li {
  width: 100px;

  color: #003161;
  text-align: center;
  line-height: 28px;
  font-weight: 700;
}

#ADMIN-UL-HEADERWRAP li:nth-child(1) { border-right: 1px solid #003161; }

/* 메인 컨텐츠가 들어갈 컨테이너 */
.admin-div-container { width: 100%; }

.admin-div-contentcontainer {
  width: 90%;
  padding: 50px 0 0 0;
  margin: auto;
}

/* 테이블 가로열 만들기 */
.list-datatable {
  display: flex;
  flex-direction: row;
}
/* -------------- 여기까지 공통으로 들어갈 CSS -------------- */