/* 각 데이터의 가로 너비 */
.adminStudyComment-li-studycommentid { width: 10%; }

.adminStudyComment-li-studyid { width: 10%; }

.adminStudyComment-li-studycommentcontent { width: 30%; }

.adminStudyComment-li-userid { width: 15%; }

.adminStudyComment-li-usernickname { width: 15%; }

.adminStudyComment-li-studycommentwritedate { width: 10%; }

.adminStudyComment-li-commentdelete {
  width: 10%;
  cursor: default;
}

.admin-ul-datawrap {
  cursor: pointer;
}