/* 각 데이터의 가로 너비 */
.adminStudyComment-li-studycommentid { width: 10%; }

.adminStudyComment-li-studyid { width: 11%; }

.adminStudyComment-li-studycommentcontent {
  width: 30%;
  padding: 0 5px;
  cursor: pointer;
}
.commentcontent { text-align: left; }

.adminStudyComment-li-userid { width: 15%; }

.adminStudyComment-li-usernickname { width: 15%; }

.adminStudyComment-li-studycommentwritedate { width: 10%; }

.adminStudyComment-li-commentdelete {
  width: 9%;
  cursor: default;
}

/* 댓글 내용 전체 보기 div 스타일 줌 */
.commentWrap {
  display: none;
  height: 0;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  /* transition: all .3s; */
}

.active {
  display: block;
  padding: 20px 30px;
  height: inherit;
}