*{
  margin: 0;
  padding: 0;

}
/* 페이지 이름 - 요소 - 기능 */
header{
  /* background-color: lightblue; */
  display: flex;
  width: 100%;
  height: 20%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  
}
main{
  background-color: white;
  display: flex;
  justify-content: center;
  border: 1px solid lightgray;
  width: 40vh;
  height: 100%;
  /* margin : 0 auto; */
  border-radius: 30px;
  margin : 60px 0  ;
} 

.h1-title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.wrapper-input-box{
  display: flex;
  flex-direction: column;
}

.input-id{
  border-radius: 30px;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  line-height: 20px;
  padding-left: 10px;
}

.input-pwd{
  border-radius: 30px;
  height: 20px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  line-height: 20px;
  padding-left:10px;
}



.wrapper-join-box{
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5px;
 
}

a{
  text-decoration: none;
  color: #808080;
}

.wrapper-btn-box{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
 
}
.btn-join{
  width: 100px;
  background-color: #003161;
  color: white;
  border-radius: 3px;
 border: none;
}

.wrapper-pwd-box{
  display: flex;
  justify-content: center;
  font-size: 10px;
}


footer{
  /* background-color: blanchedalmond; */
  width: 100%;
  height: 20%;
}
