@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  /* background: url(../../asset/img/main/캡처.PNG) no-repeat center; */
  /* background-size: cover; */
  background-color: black;
}

.main-div-wrapper {
  display: flex;
  justify-content: center;
}

#DIV-FLIPBOOK {
  width: 80vw;
  height: 85vh;
  z-index: 9;
}

.cover {
  font-family: "Dancing Script", cursive;
  /* font-optical-sizing: auto; */
  font-size: 48px; 
}


/* 하드 커버 스타일 */
.div-hard {
  background: linear-gradient(to right, #8b5e3c, #a77b50);
  color: white;
  font-size: 24px;
  border: 2px solid #654321;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 내부 페이지 스타일 */
.div-page {
  background: linear-gradient(
    to right,
    #fffaf0,
    #f5e6d9
  ); /* 부드러운 종이 느낌 */
  color: #333;
  font-size: 18px;
  font-family: "Georgia", serif;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* 공통 스타일 */
.div-hard,
.div-page {
  text-align: center;
  line-height: 400px;
  font-weight: bold;
}

/* ✅ 북마크 메뉴 스타일 */
.main-nav-menuwrap {
}

.main-nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.li-menu {
  width: 150px;
  height: 40px;
  background: #f0f0f0;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
  text-align: right;
  transform: translateX(-100px);
  z-index: 0;
  display: flex;
  align-items: center;
}

.li-menu a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  margin-left: auto;
}

.div-postit {
  width: 40px;
  height: 100%;
  background-color: #ffcc66;
  margin-left: 20px;
}


/* 마우스 오버 시 살짝 튀어나오게 */
.li-menu:hover {
  transform: translateX(0px);
}
